.container1{
  width:99%;
  border: 4px solid #5aa8cd;
  height:400px
  
}

.leftdatahead{
  width: 48%;
  text-align:left;
  float:left;
  color:#222222;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 15px;
}
.rightdatahead{
   width: 48%;
   text-align:right;
   color:#222222;
   font-weight: bold;
   padding-top: 10px;
   float:left;
}
.rowhead{
  border-bottom: 2px solid #ccc;
   height:50px;
   background:#ccc;
 
}
.row{
  border-bottom: 2px solid #ccc;
   height:50px;
}

.leftdata{
  width: 48%;
  padding-left: 10px;
  text-align:left;
  color:#5aa8cd;
  font-weight: bold;
  padding-top: 15px;
  float:left;
}
.rightdata{
   width: 48%;
   text-align:right;
   padding-top: 10px;
   float:left;
}
.footersection{
   width: 99%;
   text-align:center;
   color:#5aa8cd;
   font-weight: bold;
   padding-top: 10px;
   float:left;
}
.data{
 font-weight: normal;
}
.mainhead{
  font-size: 12px;
}
.head{
  font-size: 18px;
}
.dataerror{
  color:red;
  font-size: 12px;
}
.datasuccess{
  color:green;
  font-size: 12px;
}


