<div class="container1">
     <div class="rowhead">
          <div class="leftdatahead">Account</div>
          <div class="rightdatahead">
               <div class="head">Available Cash</div>
               <div class="data">Today's Change</div>
          </div>
     </div> 
      <div class="row"> 
          <div class="leftdata">IRA-500 </div>
          <div class="rightdata">
               <div class="head">$5,763.36</div>
               <div class="dataerror">-0.08% / $8,916.69</div>
          </div>
     </div>
      <div class="row"> 
          <div class="leftdata">AAA-1812</div>
          <div class="rightdata">
            <div class="head">$2,010,926.10</div>
            <div class="datasuccess">+0.21% / $38,881.63</div>
          </div>
     </div>
      <div class="row"> 
          <div class="leftdata">AA-3810</div>
          <div class="rightdata">
            <div class="head">$10,050,054.07</div>
            <div class="datasuccess">+0.07% / $8,916.69</div>
          </div>
     </div>
     
      <div class="rowfooter"> 
          <div class="footersection">Load more</div>
     </div>  
</div>
<h2>Sorting Data</h2>{{account | json}}
<h2>Filter Data</h2>{{users | json}}