<div class="container1">
     <div class="rowhead">
          <div class="leftdatahead">Account</div>
          <div class="rightdatahead">Available Cash <br> Today's Change</div>
     </div> 
      <div class="row"> 
          <div class="leftdata">IRA-500</div>
          <div class="rightdata">Available Cash</div>
     </div>
      <div class="row"> 
          <div class="leftdata">IRA-500</div>
          <div class="rightdata">Available Cash</div>
     </div>
      <div class="row"> 
          <div class="leftdata">IRA-500</div>
          <div class="rightdata">Available Cash</div>
     </div>
      <div class="row"> 
          <div class="leftdata">IRA-500</div>
          <div class="rightdata">Available Cash</div>
     </div>  
      <div class="rowfooter"> 
          <div class="footersection">Load more</div>
     </div>  
</div>